<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Login</title>
  </head>
  <body>
    <form method="post">
      <input type="text" name="userid">userid</input>
      <input type="text" name="password" value="">password</input>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
