<!DOCTYPE html>
<html><head>
<title>Add Notice </title>
<link rel="stylesheet" type="text/css" href="dentist/scss/consultstyle.css">
<style>
.container{
  width: 330px;
  height: 610px;
  background: #33A65B;
  color: #fff;
  top:15%;
  left: 40%;
  position: absolute;
  transform: translate(-50% -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

h1{
  margin: 0;
  margin-top: 0px;
  padding: 0;
  text-align: center;
  font-size: 30px;
}

.container p{
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 20px;

}

.container input[type="text"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  font-size: 18px;
}

::placeholder{
  color: #fff;
}

.container input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background:#fb2525;
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
  border-radius: 5%;

}

.container input[type="submit"]:hover{
  cursor: pointer;
  background:#F56A1B;
}



</style>

</head>
<body>


  <div class="container">


    <h1>ENTER DETAILS</h1><br>
    <form class="gform" data-email="binayakbehera999@gmail.com" action="https://script.google.com/macros/s/AKfycbxS7qNhtd2okkKJ-6kr_3ocFNawcugoiXD9auhG/exec" method="post">
      <p>Enter Name</p>
      <input type="text" name="name" value="" placeholder="Enter Name">
      <p>Age</p>
      <input type="text" name="age" value="" placeholder="Enter your age">
      <p>Sex</p>
      <select name="sex">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Others</option>
      </select>
      <p>Area</p>
      <select name="area">
        <option value="">Neurology</option>
        <option value="male">Cardiology</option>
        <option value="male">Pediatric</option>
        <option value="male">Orthopaedic</option>
        <option value="male">Dermatology</option>
        <option value="male">Gynecology</option>
        <option value="male">ENT</option>
        <option value="male">Oncology</option>
        <option value="male">Others</option>
      </select>

      <p>Symptoms</p>

    <textarea rows="6" cols="31" type="text" placeholder="Enter Notice" name="message" required></textarea>
    <br>
      <center><input type="submit" name="" value="Submit"></center>


    </form>

  </div>

</body>


</html>
