<!DOCTYPE html>
<html><head>
<title>Add Notice </title>
<link rel="stylesheet" type="text/css" href="dentist/scss/consultstyle.css">
<style media="screen">
  .container{
    width: 330px;
    height: 650px;
    background: #33A65B;
    color: #fff;

    left: 40%;
    position: absolute;
    transform: translate(-50% -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
</style>
</head>
<body>

  <center>
  <div class="container">


    <h1>ENTER DETAILS</h1><br>
    <form class="gform" data-email="binayakbehera999@gmail.com" action="https://script.google.com/macros/s/AKfycbxS7qNhtd2okkKJ-6kr_3ocFNawcugoiXD9auhG/exec" method="post">
      <p>Enter Name</p>
      <input type="text" name="name" value="" placeholder="Enter Name">
      <p>Age</p>
      <input type="text" name="age" value="" placeholder="Enter your age">
      <p>Sex</p>
      <select name="sex">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Others</option>
      </select>
      <p>Area</p>
      <select name="area">
        <option value="">Neurology</option>
        <option value="male">Cardiology</option>
        <option value="male">Pediatric</option>
        <option value="male">Orthopaedic</option>
        <option value="male">Dermatology</option>
        <option value="male">Gynecology</option>
        <option value="male">ENT</option>
        <option value="male">Oncology</option>
        <option value="male">Others</option>
      </select>

      <p>Symptoms</p>

    <textarea rows="8" cols="31" type="text" placeholder="Enter Notice" name="message" required></textarea>
    <br>
      <input type="submit" name="" value="Submit"></center>


    </form>

  </div>

</body>


</html>
