h1{
    text-align: center;
    font-weight: 400;
    font-family: 'Playfair Display';
    color: #afbac4;
}
p{
    font-family: 'Open Sans', sans-serif;
}
.cmp{
    width:500px;
    height:100px;
}
/* Card Based Layout - Base styles */

body {
	background:#0a4981;
}
.navbar{
    overflow: hidden;
    background-color: #333;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}
/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: green;
	font-family: 'Comfortaa', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
  font-family: 'Patua One', serif;
  letter-spacing: 1px;
}
h1{
  font-size: 2em;
  color:white;
}

h2 {
  /* font-size: 1.5rem; */
  color: #007489;
}

p {
	margin-bottom: 1.5em;
  font-size: 1.5rem;
  color: #007489;
  clear: both;
  font-family: 'Patua One', serif;
  letter-spacing: 2px;
  font-weight: bold;

}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

.masthead {
	background-color: #005b75;
}

.masthead p, .masthead p a {
  color: white;
}

.site-title {
	color: white;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: 30%;
}


.card {
	background: white;
	margin-bottom: 2em;
}

.card a {
	color: black;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
	padding: 1.4em;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
}

.card-content p {
	font-size: 80%;
}

/* Flexbox stuff */

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 0 1 calc(50% - 1em);
    }
}

@media screen and (min-width: 60em) {

    .card {
        flex: 0 1 calc(25% - 1em);
    }
}

.myBtnContainer{
    text-align: center;
}
.navbar a:hover{
color: green !important;
font-size: 1.2em;
}
.container {
    overflow: hidden;
}

.filterDiv {
    float: left;
    color: #ffffff;
    width: 100px;
    /* line-height: 100px; */
    margin: 2px;
    display: none;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}
.container1 {
    margin-top: 20px;
    overflow: hidden;
  }

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}
/* login */
/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*--reset--*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*--start editing from here--*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*--end reset--*/
body {
    font-family: 'Jura', sans-serif;
}
h1 {
    color: #fff;
    text-align: center;
    padding: 1em 0 0 0;
    font-size: 3em;
    font-weight: 700;
}
/*-- main --*/
.main {
    margin: 4em auto;
    width: 50%;
}
.banner {
    background: url(../images/banner.jpg)no-repeat 0px 0px;
    background-size: cover;
}

/*--signin-form--*/
.w3 {
    float: left;
    width: 48%;
    margin-right: 4%;
}
.agile {
    float: right;
    width: 48%;
}
.signin-form {
    background: url(../images/banner1.jpg)no-repeat 0px 0px;
    background-size: cover;
    padding: 2em 2em;
	text-align: center;
}
.signin-form h3 {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    margin-bottom: 1.5em;
}
.signin-form h3 span {
    color: #67e1ff;
}
.signin-form img {
    border-radius: 50%;
}
.login-form {
    margin: 1em 0 2.5em;
}
.signin-form input[type="text"], .signin-form input[type="password"] {
    width: 92%;
    padding: 1em 1em 1em 1em;
    font-size: 0.8em;
    margin: 1em 0;
    outline: none;
    color: #FFF;
    border: none;
    border-bottom: 2px solid #fff;
	letter-spacing: 1px;
	text-align:center;
}
.signin-form input[type="text"] {
    background: none;
    display: block;
}
.signin-form input[type="password"] {
     background: none;
    display: block;
}
::-webkit-input-placeholder{
	color:#fff !important;
}
.signin-form input[type="submit"] {
    outline: none;
    padding: 0.9em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #0b4379;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
	border-radius: 22px;

}
.signin-form input[type="submit"]:hover {
    color: #fff;
    background: #002242;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.signin-form p a {
    font-size: 0.875em;
    color: #fff;
    letter-spacing: 1px;
}
/*--//signin-form--*/
.header-social {
    text-align: center;
    margin-bottom: 2em;
}
.tp {
    margin: 3.7em 0 0;
}
h5 {
    border-left: 1px dotted #7467b9;
    padding: 0.5em;
}
.header-social a.face{
  background:url(../images/fac.png)no-repeat 12px 9px #3B62A3;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  padding: 0 2em;
  width: 30%;
  text-align: left;
  margin-right: 0%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  display: inline-block;
  border-radius: 14px 0px 0px 14px;
}
.header-social a.face:hover{
	 background:url(../images/fac.png)no-repeat 12px 9px #0E387C;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*-- w3layouts --*/
.header-social a.goog {
  background:url(../images/google.png)no-repeat 12px 9px #D64639;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  padding: 0 2.5em;
  width: 24%;
  text-align: left;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border-radius: 0px 14px 14px 0px;
}
.header-social a.goog:hover {
  background: url(../images/google.png)no-repeat 12px 9px #ff4b3b;
   transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.header-social h4 {
  font-size: 17px;
  color: #6A67CE;
  text-align: center;
  margin: 20px 0px;
  font-family: 'Roboto Condensed', sans-serif;
}
.header-social h4 a{
	color:#6A67CE;
}
.header-social h4 a:hover{
	color:#FFB900;
}
/*--copyright--*/
.copyright {
    margin: 2em;
    text-align: center;
}
.copyright p {
    font-size: 1em;
    color: #fff;
	line-height:1.8em;
}
.copyright p a{
    color: #fff;
}
.copyright p a:hover{
    color:#56c8dc;
}
/*--//copyright--*/
/*-- agileits --*/
/*---- responsive-design -----*/
@media(max-width:1440px){
.main {
    width: 56%;
}
}
@media(max-width:1366px){
.main {
    width: 59%;
}
}
@media(max-width:1280px){
h1 {
    font-size: 2.5em;
}
.main {
    width: 63%;
}
}
@media(max-width:1080px){
.main {
    width: 74%;
	margin: 2em auto;
}
}
@media(max-width:1024px){
.main {
    width: 82%;
}
.signin-form {
    padding: 3em 2.5em;
}
}
@media(max-width:991px){
.main {
    width: 85%;
}
}
@media(max-width:900px){
.main {
    width: 93%;
}
}
@media(max-width:800px){
.main {
    width: 51%;
}
.w3 {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 5%;
}
.agile {
    float: none;
    width: 100%;
}
.signin-form p a {
    line-height: 1.8em;
}
}
@media(max-width:768px){
.main {
    width: 53%;
}
}
@media(max-width:736px){
.main {
    width: 55%;
}
}
/*-- w3layouts --*/
@media(max-width:667px){
.main {
    width: 61%;
}
}
@media(max-width:640px){
.main {
    width: 64%;
}
}
@media(max-width:600px){
.main {
    width: 68%;
}
}
@media(max-width:568px){
.main {
    width: 72%;
}
}
@media(max-width:480px){
.main {
    width: 78%;
}
.header-social a.face {
    width: 27%;
}
.header-social a.goog {
    width: 21%;
}
.w3 {
    margin-bottom: 0%;
}
.signin-form input[type="text"], .signin-form input[type="password"] {
    width: 91%;
}
h1 {
    font-size: 2.2em;
}
.profile {
    margin-top: 2em;
}
.signin-form {
    padding: 2em 2em;
}
.copyright p {
    font-size: 0.9em;
}
/*-- agileits --*/
}
@media(max-width:414px){
.signin-form input[type="text"], .signin-form input[type="password"] {
    width: 89%;
}
.signin-form {
    padding: 2em 1.5em;
}
.header-social a.face {
    width: 25%;
}
.header-social a.goog {
    width: 19%;
}
.tp {
    margin: 1.7em 0 0;
}
.header-social {
    margin-bottom: 1em;
}
.signin-form h3 {
    margin-bottom: 1em;
}
.login-form {
    margin: 1em 0 1.5em;
}
}
@media(max-width:384px){
h1 {
    font-size: 2em;
}
.header-social a.face {
    width: 22%;
}
.header-social a.goog {
    width: 17%;
}
}
@media(max-width:375px){
.main {
    width: 79%;
}
.header-social a.goog {
    width: 15%;
}
}
@media(max-width:320px){
h1 {
    font-size: 1.6em;
}
.main {
    width: 89%;
    margin: 1.5em auto;
}
.login-form {
    margin: 1em 0 1.5em;
}
.signin-form {
    padding: 1.5em 1.5em;
}
.signin-form h3 {
    font-size: 1.5em;
}
.signin-form input[type="text"], .signin-form input[type="password"] {
    width:88%;
}
.signin-form input[type="submit"] {
    padding: 0.7em 0;
    font-size: 0.9em;
}
.signin-form p a {
    font-size: 0.9em;
}
.header-social a.face {
    background: url(../images/fac.png)no-repeat 12px 6px #3B62A3;
    font-size: 14px;
    width: 24%;
}
.signin-form p a {
    line-height: 1.5em;
}
.copyright {
    margin: 1em;
}
.header-social a.face:hover {
     background: url(../images/fac.png)no-repeat 12px 6px #0E387C;
}
.header-social a.goog {
    background: url(../images/google.png)no-repeat 12px 6px #D64639;
    font-size: 14px;
    padding: 0 2.5em;
    width: 19%;
}
.header-social a.goog:hover {
    background: url(../images/google.png)no-repeat 12px 6px #ff4b3b;
}
}
/*--//responsive-design---*/
