<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;


}
section{
  width: 100%;
  height: 100vh;
  background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/H8WuRINimqur8ud/cardio-medical-black-background-cardiogram-ecg-monitor_r2ojbm2___F0000.png);
    background-size: cover;

}
section .leftbox{
  width: 50%
  height: 100%;
  float: left;
  padding: 50px;
  box-sizing: border-box;
}

section .leftbox .content{
  color: #fff;
  background: rgba(0,0,0,.5)
  padding:40px;
  transition: .5s;
}

section .leftbox .content:hover{
  background: #e91e63;
}

section .leftbox .content h1{
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-transform: uppercase;
  position: relative;
  top: 120px;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  transition: .5s;

}
section .leftbox .content h1:hover{
    background: #e91e63;
}

section .leftbox .content p{
  margin: 10px 0 0;
  padding: 0;
}

section .events{
  position: relative;
  width: 50%;
  height: 100%;
  background: rgba(0,0,0,.5);
  float: right;
  box-sizing: border-box;

}

section .events ul{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 40px;
  box-sizing: border-box;

}

section .events ul li{
  list-style: none;
  background: #fff;
  box-sizing: border-box;
  height: 160px;
  width:400px;
}
section .events ul li .time{
  position: relative;
  background: #262626;
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  float: left;
  text-align: center;
  transition: .5s;

}

section .events ul li:hover .time{

  background: #e91e63;
}

section .events ul li .time .day{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 30px;
  line-height: 30px;

}

section .events ul li .time h2 span{
  font-size: 30px;
}
section .events ul li .details{
  padding-left:  10px;
  padding-top: 5px;
  background: #fff;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  float: left;
}

section .events ul li .details h3{
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 22px;
}

section .events ul li .details p{
  position: relative;
  margin: 10px 0 0;
  padding: 0;
  font-size: 20px;
}

section .events ul li .details a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 2px solid #262626;
  margin-top: 15px;
  font-size: 18px;
  transition: .5s;

}

section .events ul li .details a:hover{
  background: #e91e63;
  color: #fff;
  border-color: #e91e63;
}
