.loginbox{
  width: 330px;
  height: 500px;
  background: #000;
  color: #fff;
  top:30%;
  left: 40%;
  position: absolute;
  transform: translate(-50% -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  display: none;
}
.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 110px;

  left: calc(50% -50px);
}
h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 30px;
}
.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: white;
}

.loginbox input{
  width: 100%;
  margin-bottom: 25px;
}

.loginbox input[type="text"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 20px;
}

.loginbox input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  background:#fb2525;
  color: #fff;
  font-size: 20px;

}

.loginbox input[type="submit"]:hover{
  cursor: pointer;
  background: #D81C41;
  color: #000;
}

.loginbox a{
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.loginbox a:hover{
  color: #D5D8DC
}
